* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    padding: 1.5rem;
    background-color: #4CAF50;
    text-align: center;
    border-radius: 10px;
    margin: 2rem auto;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header h1 {
    margin: 1rem 0;
    color: white;
}

.header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.vote-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
    margin-top: 2rem;
}

.vote-option {
    text-align: center;
    width: 150px;
}

.vote-option img {
    height: 70%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.vote-option p {
    margin-top: 0.5rem;
    font-weight: bold;
}

@media (max-width: 600px) {

    .header,
    .container {
        width: 95%;
    }

    .vote-options {
        flex-direction: column;
        align-items: center;
    }


}
a
{
    text-decoration: none;
    color: white;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}